/*--------------------------------HEADER CSS-----------------------------------------------*/
.news-scroll .moving-header a {
    text-decoration: none;
  }
  
  header .container-fluid{
  padding: 0;
  }
  .moving-header{
    background-color: #810000;
    line-height: 30px;
    font-size: 14px;
  
    
  }
  marquee a {
    color: white;
    opacity: 0.7;
    font-weight: bold;
  }
  marquee a:hover{
      color: #CC561E;
  }
  
  .main_nav {
      width: 100%;
      border-top: solid 1px #f2f2f2;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
      background-color: #FFFFFF;
  }
  
  .header.scrolled .main_nav {
      position: fixed;
      top: 0;
      left: 0;
      -webkit-transition: all 200ms ease;
      -moz-transition: all 200ms ease;
      -ms-transition: all 200ms ease;
      -o-transition: all 200ms ease;
      transition: all 200ms ease
  }
  
  .main_nav_content {
      width: 100%;
      height: 60px;
      
  }
  
  
  .main_nav li li {
      display: block;
      width: 100%;
      color: #1c1427;
  
  }
  
  
  
  .main_nav li{
      display: inline-block;
      margin-top: 10px;
      margin-left: 20px;
      margin-bottom: 10px;
  
  }
  
  .main_nav li a {
      display: block;
      position: relative;
      
      color: #1c1427;
      line-height: 25px;
      white-space: nowrap;
      -webkit-transition: all 200ms ease;
      -moz-transition: all 200ms ease;
      -ms-transition: all 200ms ease;
      -o-transition: all 200ms ease;
      transition: all 200ms ease;
      
  
  }
  .nav_link a{
      color: #1c1427;
  }
  
  .nav-item .btn-danger{
    background-color: #CC561E;
    border-radius: 20px;
    font-size: 15px;
    height: 40px;
    font-family: 'Arial';
  }

  /* -------------------------------MAIN PAGE-----------------------*/
.left-main{
    background-image: url(./images/left-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #810000;
  
  }
  @media only screen and (max-width: 540px) {
    .left-main {
      background-image: url(https://media.istockphoto.com/photos/vector-hexagons-pattern-geometric-abstract-background-with-simple-picture-id1307794659?b=1&k=20&m=1307794659&s=170667a&w=0&h=8utxIGEIgxxX_rUGxa5DtS7MQIaCHvQjt1eBrU28lEg=);
    }
  }
  @media only screen and (max-width: 360px) {
    .left-main {
      margin-bottom: 20px;
    }
  }
  .left-main h1, .left-main h4{
    font-weight: bolder;
  
  }
  
  
  .left-main .btn-danger{
    background-color: #CC561E;
    border-radius: 0px;
    height: 45px;
    width: 140px;
  }
  .left-main .btn-danger:hover{
      background-color: white;
      color: #CC561E;
      font-weight: bolder;
  }
  .right-main{
    text-align: center;
    height: 450px;
    margin-bottom: 30px;
  }
  
  .right-main .col{
    padding-top: 70px;
    padding-bottom: auto;
  }
  .right-main .one{
    background-color: #FFF5DA;
  }
  .right-main .two{
    background-color: #CC9B6D;
    background-blend-mode: lighten;
  }
  
  .right-main hr{
    background-color: #CC561E;
    width: 40px;
  }

  /*--------------------------------------------SECOND------------------------------*/
h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .second .box{
    background-color: #AEBD77;
    text-align: center;
    padding-top: 40px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    height: 280px;
  
  }
  
  .second p{
    position: absolute;
    bottom: 0;
  
  }
  
  .MORE{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 90px;
  }

  .MORE .btn-outline-danger:hover{
      background-color: #810000;
  }

  /*---------------------------------THIRD-------------------------*/
#third .container{
    text-align: center;
    
  }
   p{
     font-family: 'Montserrat', sans-serif;
     text-align: center;
  }
  
  #third .card-body{
    background-color: #FAF3F3;
    color: #CC561E ;
  }
  
  
  .cards{
    margin-top: 80px;
  }
  
  #third{
    margin-bottom: 90px;
  }

  /*=----------------------------------FOURTH----------------------*/

#fourth{
    padding-top: 60px;
    background-color: #FAF3F3;
  }
  
@media only screen and (max-width:570px) {
    .final{
        margin-bottom:20px;
    }
}